.pfp{
    opacity: 100%;
}

.pfp:hover{
    opacity: 80%;
}

.links{
    object-fit: cover;
}

.summary{
    text-transform: uppercase;
    font-weight: bold;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function:ease-out;
    transition-delay: .1s;
}

.summary:hover{
    transform: translatex(20%);
}