.pfp{
    opacity: 100%;
}

.pfp:hover{
    opacity: 80%;
}

.logo{

}
.logo:hover{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 15deg;
    }
    50%{
        rotate: 0deg;
    }
    75%{
        rotate: -15deg;
    }
    100%{
        rotate: 0deg;
    }
}


.summary{
    text-transform: uppercase;
    font-weight: bold;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function:ease-out;
    transition-delay: .1s;
}

.summary:hover{
    transform: translatex(20%);
}