body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(226, 246, 220);
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

header{
    position: relative; top: -10px;
    position: relative; left: -10px;
    margin-right: -20px;
    background: aquamarine;
    color: white;
    min-height: 50px;
    border-top: green 5px solid;
    border-bottom: green 5px solid;
}

header .name{
    font-size: 20px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    display: block;
    text-align: center;
    font-size: 20px;
    padding:14px 16px;
}

header nav{
    overflow: hidden;
    background-color:darkseagreen;
}

header a:hover{
    background-color: forestgreen;
    color: white;
    font-weight: bold;
}

.introsummary{
    text-align: left;
}

.welcome{
    border-style:double;
    border-width: 5px;
    text-align: center;
    color: red;
}

.pfp{
    float: left;
    transition: transform .2s;
}

.pfp:hover{
    transform:scale(1.2);
}

footer{
    background: cadetblue;
    padding: 20px;
    position: relative; bottom: -10px;
    position: relative; left: -10px;
    margin-right: -20px;
    margin-top: 20px;
    float: inline-end;
    text-align: center;
}