*{
    font-family:'Times New Roman', Times, serif
}


dialog{
    background-color: lightcoral;
    align-content:center;
    
}

h1{
    color: blue; 
    background-color: aquamarine;
    padding: 10px;
}   
